<!doctype html>
<html lang="en">



<head>
        
    <meta charset="utf-8" />
    <title>Form Validation | Minia - Minimal Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- preloader css -->
    <link rel="stylesheet" href="assets/css/preloader.min.css" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>

<h5 class="card-title mb-4">Common validations</h5>

<form id="pristine-valid-common"  class="needs-validation" novalidate method="post">
    <input type="hidden"/>
    <div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Required</label>
                <input type="text" required class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
</form>

<!-- <form id="pristine-valid-specificfield" novalidate method="post">
    <div class="form-group mb-3">
        <label class="form-label">required, first letter capitalized</label>
        <input type="text" class="form-control" required id="specificfield"/>
    </div>
    <div class="form-group">
        <button  type="submit" class="btn btn-primary">Submit form</button>
    </div>
</form> -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>
    <script src="assets/libs/feather-icons/feather.min.js"></script>
    <!-- pace js -->
    <script src="assets/libs/pace-js/pace.min.js"></script>

   <!-- pristine js 
   <script src="assets/libs/pristinejs/pristine.min.js"></script> -->
    <!-- form validation -->
   <script src="assets/js/pages/form-validation.init.js"></script>

    <script src="assets/js/app.js"></script>
</body>